body{
    background:url("https://www.freedomtreks.co.uk/sites/ft/files/zaanse-schans-windmills-tulips-holland.jpg");
}

h1{
    color: white;   
}

h2{
    color:white;   
}

div{
    color:white;   
    font-size: 20px;
}

.image{
    
}